* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
  color: #a9a9a9;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .header {
  margin-top: 5%;
  color: #8a2be2;
  padding: 20px;
  text-transform: uppercase;
}

.neou {
  padding: 20px;
  border-radius: 10px;
  background: #e0e0e0;
  -webkit-box-shadow: 12px 12px 25px #cacaca, -12px -12px 25px #f6f6f6;
          box-shadow: 12px 12px 25px #cacaca, -12px -12px 25px #f6f6f6;
}

.mv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.center-text {
  text-align: center;
  margin: auto;
}

.btn-group .btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-group .btn-main {
  background: #e0e0e0;
  -webkit-box-shadow: 12px 12px 25px #cacaca, -12px -12px 25px #f6f6f6;
          box-shadow: 12px 12px 25px #cacaca, -12px -12px 25px #f6f6f6;
  color: #8a2be2;
}

.btn-group .btn-main:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
  background: #e0e0e0;
  -webkit-box-shadow: inset 12px 12px 24px #cacaca, inset -12px -12px 24px #f6f6f6;
          box-shadow: inset 12px 12px 24px #cacaca, inset -12px -12px 24px #f6f6f6;
}

.btn-group .btn-true {
  color: #8a2be2;
  text-decoration: none;
}

.btn-group .btn-true:hover {
  color: green;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-group .btn-false {
  color: #8a2be2;
  text-decoration: none;
}

.btn-group .btn-false:hover {
  color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.opsi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.block {
  display: block;
}

form {
  margin-top: 5%;
}

form .input-text {
  background-color: #e0e0e0;
  color: #a9a9a9;
  border: solid 1px #8a2be2;
  padding: 10px;
  border-radius: 20px;
  width: 95%;
}

form button {
  color: #8a2be2;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #8a2be2;
  background-color: #e0e0e0;
}

form button:hover {
  color: #e0e0e0;
  background-color: #8a2be2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*loader*/
.loader {
  width: 100%;
  height: 100vh;
  background-color: #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner::before {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#a9a9a9), to(#e0e0e0));
  background-image: linear-gradient(90deg, #a9a9a9 0%, #e0e0e0 100%);
  -webkit-animation: spin 0.5s infinite linear;
          animation: spin 0.5s infinite linear;
}

.spinner::after {
  width: 90%;
  height: 90%;
  background-color: #e0e0e0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*keyframes*/
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=interface.css.map */